:root{
  
  --dark-theme-background-color:hsl(207, 26%, 17%);
  --dark-theme-elements-background-color: hsl(209, 23%, 22%);
  --dark-theme-text: hsl(0, 0%, 100%);
  --dark-theme-input: hsl(0, 0%, 100%);/* input text? */


  --light-theme-background-color: hsl(0, 0%, 98%);
  --light-theme-elements-background-color:hsl(0, 0%, 100%);
  --light-theme-text:hsl(200, 15%, 8%);
  --light-theme-input: hsl(0, 0%, 52%);/* input text? */


  
  --theme-background-color:hsl(207, 26%, 17%);
  --elements-background-color:hsl(209, 23%, 22%);
  --shadow-elements:hsla(208, 25%, 13%, 0.493);
  --theme-text:hsl(0, 0%, 100%);
  --theme-input: hsl(0, 0%, 100%);/* input text? */

/* 
  - Dark Blue (Dark Mode Elements): hsl(209, 23%, 22%)
  - Very Dark Blue (Dark Mode Background): hsl(207, 26%, 17%)
  - Very Dark Blue (Light Mode Text): hsl(200, 15%, 8%)
  - Dark Gray (Light Mode Input): hsl(0, 0%, 52%)
  - Very Light Gray (Light Mode Background): hsl(0, 0%, 98%)
  - White (Dark Mode Text & Light Mode Elements): hsl(0, 0%, 100%)
 */
  font-family: 'Nunito Sans', sans-serif;
  font-size:14px;
  font-weight: 300;
}

body {
  background-color:darkmagenta;
    color:var(--theme-text);

}
.navbar{
  background-color: var(--elements-background-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
}
.navbar>*{
  margin: 0 2em
}
.navbar__title{
  color:var(--theme-text);
  font-weight: 800;
  font-size: 25px;
}
.navbar__btn-switch-theme{
  font-weight: 600;
  color:var(--theme-text);
  font-size:16px;

  cursor: pointer;
}
.btn-switch-theme--light-theme:active{
  --dark-theme-background-color:hsl(0, 0%, 100%);
}
.navbar__btn-switch-theme::before{
  content: url('../img/moon-sharp.svg');
  display: inline-block;
  width:6px;
  height: 6px;
  position: absolute;
  transform: translateX(-360%) translateY(25%);

}
.btn-switch-theme--light-theme::before{
  content: url('../img/moon-outline.svg');
}

.home{
  background-color:var(--theme-background-color);
  display:flex;
  flex-direction: column;
}
.home>*{
  margin-top: 48px;
}
.home__filter-search-container{
  /* background-color:red; */
  display:flex;
  justify-content:space-between;
  align-items: center;
}
.inputsearch{
  height:56px;
  display:flex;
  width: 480px;
  background-color:var(--elements-background-color);
  border-radius: 8px;
  justify-content: space-evenly;
  align-items: center;
}
/* Search icon */
.iconSearch{
  fill: var(--theme-text);
}
.inputsearch__input{
  color:var(--theme-text);
  width: 75%;
}
.inputsearch__input,
.inputsearch__input:active,
.inputsearch__input:hover,
.inputsearch__input:focus{
  background:none;
  border:none;
  outline:none;
}

.region-choice{
  width:200px;
  height: 56px;
  background-color:var(--elements-background-color);
  display:flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  position: relative;
  
}
.chevron--active{
  
  animation-name: rotate0;

}
.chevron--unactive{
  animation-name: rotate180;
}

@keyframes rotate180{
  from {transform: rotateZ(180deg) }
  to {transform: rotateZ(0deg)}
}
@keyframes rotate0{
  from {transform: rotateZ(0deg) }
  to {transform: rotateZ(180deg)}
}

.region-choice__options{
  
  position: absolute;
  top:110%;
  background-color:var(--elements-background-color);
  width:100%;
  border-radius: 8px;
  height:0px;
  overflow:hidden;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content:space-evenly;

  /* animation-name: regionDropdownUnactive; */
  animation-duration: .1s;
  animation-timing-function: ease-in-out;
  /* animation: regionDropdown 1s; */
  animation-iteration-count: 1;
  animation-fill-mode: forwards;  
  /* animation: regionDropdown .2s infinite; */
}

.animation-active{
  animation-name: regionDropdownActive;
}
.animation-unactive{
  animation-name: regionDropdownUnactive;
}
.options__option{
  cursor: pointer;
  margin-left: 20px;
}

@keyframes regionDropdownActive {
  from {height: 0px;}
  to {height:165px}
}
@keyframes regionDropdownUnactive {
  from {height: 165px;}
  to {height:0px}
}
/* content of region choice */
.region-choice__selection{
  display:flex;
  align-items: center;
  justify-content: space-between;
  width:80%;
  color:var(--theme-text);
  cursor: pointer;
  height: 100%;
}
.chevronD{

  width: 12px;
  height:12px;
  overflow:visible;
  position:relative;


  animation-duration: .1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; 
}


.chevron__left{
  content:"";
  width: 2px;
  height:12px;
  background-color: var(--theme-text);
  transform: rotateZ(-45deg) ;
	display: inline-block;
  border-radius: 8px;
  position: absolute;
  left: 1px;
}
.chevron__right{
  content:"";
  width: 2px;
  height:12px;
  background-color: var(--theme-text);
  transform: rotateZ(45deg) ;
	display: inline-block;
  border-radius: 8px;
  position: absolute;
  right: 1px;
}

.element-floating{
  box-shadow:  0px 0px 16px 0px var(--shadow-elements);
}
.country-card{
  width:265px;
  height:363px;
  border-radius: 8px;
}
.country-card__flag{
  width:100%;
}
.country-card__container-info{
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  

  height:177px;
}
.container-info__content{
  margin-left: 20px;
  height:102px;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}

.content__country-name{
  font-weight:800;
  font-size: 18px ;
  color:var(--theme-text);
}

.card-info__tittle{
  color:var(--theme-text);
  font-size: 16px;
  font-weight:600;
}

.card-info__description{
  color:var(--theme-text);
  font-weight: 300;
}